.navbar {
    box-shadow: 0 4px 2px 0 rgba(15, 15, 15, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.10);
}


/*Nav Var Custom*/

.navbar-custom {
    background: #3a6186;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89253e, #3a6186);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* change the brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}


/* change the link color */

.navbar-custom .navbar-nav .nav-link {
    color: white;
}


/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #D3CCE3;
    /* fallback for old browsers */
}


/* for dropdown only - change the color of droodown */

.navbar-custom .dropdown-menu {
    background: #3a6186;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89253e, #3a6186);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-custom .dropdown-item {
    color: #ffffff;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    background: #3a6186;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89253e, #3a6186);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-toggler-icon {
    color: #ffffff !important;
}

.navbar-toggler {
    border-color: #ffffff !important;
    color: #ffffff !important;
}