<div class="container rounded fadeIn">

    <form action="">
        <br>
        <div class="form-group">
            <label for="">Cuarto</label>
            <input type="number" class="form-control" placeholder="Digite la Cantidad de Cuartos" [(ngModel)]="cuarto" required minlength="4" name="Cuarto" />
        </div>

        <div class="form-group">
            <label for="">Bujias</label>
            <input type="number" class="form-control" placeholder="Digite la cantidad de Bujias" [(ngModel)]="bujia" required name="Bujia" />

        </div>

        <div class="form-group">
            <label for="">Autos del 2015 hacia la Fecha</label>
            <input type="number" class="form-control" placeholder="Digite la cantidad de Autos" [(ngModel)]="autos" required name="autos" />

        </div>

        <div class="form-group">
            <label for="">Autos del 2014 a menos o anteriores </label>
            <input type="number" class="form-control" placeholder="Digite la cantidad de Autos" [(ngModel)]="autos1" name="autos1" />

        </div>






        <div class="form-group">
            <label for="">Smart Tv Con acceso a Internet</label>
            <select class="form-control" [(ngModel)]="smarttv" name="operacion">
            <option *ngFor="let op of opcionesTV" [value]="op.cod"> {{op.muestraValor}}</option>

      
            
            </select>
        </div>


        <div class="form-group">
            <label for="">Secadora</label>
            <select class="form-control" [(ngModel)]="secadora" name="operacionse">
            <option *ngFor="let op of opcionesSecadora" [value]="op.cod"> {{op.muestraValor}}</option>

      
            
            </select>
        </div>





        <div class="form-group">
            <label for="">Escolaridad del Principal Soporte del Hogar</label>
            <select class="form-control" [(ngModel)]="educacion" name="operacionedu">
            <option *ngFor="let op of opcionesEstudio" [value]="op.cod"> {{op.muestraValor}}</option>

      
            
            </select>
        </div>





        <button type="submit" class="btn btn-primary" (click)="onCalcular()">Calcular Nivel Socio Economico</button>


    </form>


    <p>El Resultado del Nivel Socio Economico es: {{resultado}}</p>


</div>