<div class="container rounded animated fadeIn">

    <form [formGroup]="forma" (ngSubmit)="guardar()">
        <br>
        <div class="form-group">
            <label for="">¿Cuántos  Cuartos (dormitorios)separados por pared hay en su hogar? (No divisiones con Cortinas, ropero,biombo, etc)? </label>
            <input type="number" min="0" class="form-control" placeholder="Digite la Cantidad de Dormitorios" [(ngModel)]="cuarto" formControlName="Cuarto" [ngClass]="{'is-valid': forma.get('Cuarto').valid}" />
        </div>

        <div class="form-group">
            <label for="">¿Cuántas bujías en total tienen en la vivienda (incluye lámparas de escritorio)?</label>
            <input type="number" min="0" max="10" class="form-control  " placeholder="Digite la cantidad de Bujias" [(ngModel)]="bujia" formControlName="bujia" [ngClass]="{'is-valid': forma.get('bujia').valid}" />



        </div>

        <div class="form-group">
            <label for="">¿Cuántos vehículos propios del año 2015 al año 2020 tienen en su hogar?</label>
            <input type="number" min="0" class="form-control" placeholder="Digite la cantidad de Autos" [(ngModel)]="autos" formControlName="autos" [ngClass]="{'is-valid': forma.get('autos').valid}" />

        </div>

        <div class="form-group">
            <label for="">¿Cuántos vehículos propios del año 2014 o anteriores tienen en su hogar?</label>
            <input type="number" min="0" class="form-control" placeholder="Digite la cantidad de Autos" [(ngModel)]="autos1" formControlName="autos1" [ngClass]="{'is-valid': forma.get('autos1').valid}" />

        </div>






        <div class="form-group">
            <label for="">¿Tiene televisor Smart TV con servicio de internet (fijo o modem)?</label>
            <select class="form-control" [(ngModel)]="smarttv" formControlName="tv">
                
              
            <option *ngFor="let op of opcionesTV" [value]="op.cod"  > {{op.muestraValor}}</option>

      
            
            </select>
        </div>


        <div class="form-group">
            <label for="">¿En su hogar tiene Lavadora/Secadora eléctrica?</label>
            <select class="form-control" [(ngModel)]="secadora" formControlName="sec">
            <option *ngFor="let op of opcionesSecadora" [value]="op.cod"> {{op.muestraValor}}</option>

      
            
            </select>
        </div>





        <div class="form-group">
            <label for="">¿Cual es la Escolaridad del Principal Soporte del Hogar?</label>
            <select class="form-control" [(ngModel)]="educacion" formControlName="edu">
            <option *ngFor="let op of opcionesEstudio" [value]="op.cod"> {{op.muestraValor}}</option>

      
            
            </select>
        </div>



        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-outline-danger" (click)="onCalcular()"> <strong> Medir Nivel Socioeconómico </strong></button>
            </div>
        </div>

        <br>
        <br>


    </form>

</div>